.center {
  text-align: center;
}
.center * {
  margin-right: auto;
  margin-left: auto;
}

.box1 {
  padding: 0.5em 1em;
  margin: 2em 0;p
  color: #000000;
  background: #e4fcff;/*背景色*/
  border: double 5px #1dc1d6;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.32);/*影*/
  border-radius: 20px;/*角の丸み*/
  display: inline-block;
  width: 600px;
  height: 100px;
  text-decoration: none;
}
.box2 {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #000000;
  background: #e3ffe6;/*背景色*/
  border: double 5px #1dd62b;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.32);/*影*/
  border-radius: 20px;/*角の丸み*/
  display: inline-block;
  width: 600px;
  height: 100px;
  text-decoration: none;
}

.border1 {
  display: block;
  height: 100px;
  width: 46px;
  float: left;
  writing-mode: vertical-lr;
  border-right: solid 2px #1dc1d6;
}
.border2 {
  display: block;
  height: 100px;
  width: 46px;
  float: left;
  writing-mode: vertical-lr;
  border-right: solid 2px #1dd62b;
}

.header {
  width: 100%;
  height: 100px;
  background: #504040;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  line-height: 100px;
}
